.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}





.buttons button {

 border-radius: 5px;
 height: 50px;
 width: 150px;
 margin: 20px;
 margin-bottom: 60px;
}


.wrapper {

  display: flex;
  flex-direction: column;
  
  align-content: flex-end;
  align-items: center;
  margin-top: 100px;
}
input[type='checkbox'] {
  appearance: none;
  width: 70px;
  height: 70px;
  border: 0px solid white;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  margin: 5px;
  }

  .sideMenu {

    display:flex;
    flex-direction: column;
    position: absolute;
    text-align: right;
    
    top: 230px;
    left: 100px;
    
  }
  .sideMenu li {
    margin: 30px;
    list-style: none;
    font-weight: 700;
    
  
  }

#bpm {
  /* appearance: none; */
  width: 600px;
  margin-top: 60px;
}


@media (max-width: 414px) {


  .wrapper {
  
    position: absolute;
    left: 0px;
    
    }
    input[type="checkbox"]{
      width: 35px;
      height: 35px;
      margin-bottom: 30px;
    
    }
    
    .sideMenu {
    
      display:flex;
      flex-direction: column;
      position: absolute;
      text-align: left;
      
      top: 70px;
      left: -15px;
      
      
    }
    .sideMenu li {
      margin-bottom: 30px;
      list-style: none;
      font-weight: 700;
      font-size: 13px;
    
    }
    
 
      
   

#bpm {
  /* appearance: none; */
  width: 200px;
  margin-top: 60px;
}



}

@media (max-width: 320px) {



  .wrapper {
  
  position: absolute;
  left: 0px;
  
  }
  input[type="checkbox"]{
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
  
  }
  
  .sideMenu {
  
    display:flex;
    flex-direction: column;
    position: absolute;
    text-align: left;
    
    top: 100px;
    left: 0px;
    
    
  }
  .sideMenu li {
    margin-bottom: 25px;
    list-style: none;
    font-weight: 700;
    font-size: 13px;
  
  }
  
  #bpm {
    /* appearance: none; */
    width: 150px;
    margin-top: 60px;
    height: 4px;
    
  }
  
  
  
  }

input[type='checkbox']:checked {
  opacity: 1;
  background-color : orange; 
}



